<p id="notice"><%= notice %></p>

<p>
  <strong>식당명:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>카테고리:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>평점:</strong>
  <%= @book.score %>
</p>

<p>
  <strong>위치:</strong>
  <%= @book.location %>
</p>

<%= link_to '편집', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
